body {
    background: #111;
    color: #fff;
    text-align: center;
    font-family: Arial, sans-serif;
}

#videos {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

video {
    width: 45%;
    height: 300px;
    background: #000;
    border: 2px solid #444;
    border-radius: 10px;
}
